<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"> <!-- Encoding must be specified within the first 512 bytes www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <title>Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
